body {
    background-image: url(greeing.png);
    background-size: cover;
}

.wer {
    font-size: 7rem;
    color: blueviolet;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.we {
    text-align: center;
    color: black;
    margin-top: 40px;
    font-size: 4rem;
}
